* {
    margin: 0;
}

body {

    background-color: rgb(30, 4, 63);
}

.main {
    width: 100vw;
    height: 100%;
    display: grid;
    place-items: center;
}

.box {
    
    align-items: center;
    margin-top: 10%;
    width: 50vw;
    height: 100%;
    background-size: 100% 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.title { 
    text-align: center;
    font-family: 'Carter One', cursive;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 30px;
    color: white;
    background-color: blueviolet;
    width: 70%;
}

.heading1 {
    align-items: center;
}

input {
    height: 30px;
    border: none;
    border-bottom: 3px solid black;
    margin-left: 10%;
    margin-top: 50px;
    width: 60%;
    background: none;
    outline: none;

}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#add,
#dlt {
    font-size: 35px
}

button#add:hover {
    font-size: 41px;
    color: rgb(38, 177, 19);
}

h3,
#dlt,
table{
    margin-left: 10%;
    font-family: 'Kanit', sans-serif;
}

.myNotes {
    font-weight: bolder;
    color: rgb(8, 129, 55);
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
}

#dlt {
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 15px;
}

#dlt:hover {
    background-color: rgb(243, 7, 7);
}
.remove{
    font-size: 22px;
}
.remove:hover{
    font-size: 23px;
    color: red;
}

